* {
	background-color: #010D01;
	color: #04A104;
	font-family: 'Press Start 2P', cursive;
}

#space{
	margin: 0px;
	width: 100%;
	height: 100%;
}

input {
	width: 30%;
	height: 20px;
	border: none;
	background-color: black;
}

button {
	border: 1px solid #04A104;;
}


p {
	padding-bottom: 5px;
	border-right: 4px solid #04A104;
	overflow: hidden;
	white-space: nowrap;
	animation: typing 5s steps(30, end), blink .75s step-end 4s;
	animation-fill-mode: forwards;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 70% 
    }
}

@keyframes blink {
	0% { 
        border-right: 4px solid #04A104;
    }
    100% { 
        border: none; 
    }
}
